[Unit]
Description=Zeppelin notebooks auto save to GCS
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=10
User=zeppelin
Group=zeppelin
ExecStart=/usr/bin/env bash /opt/autosave-zeppelin.sh

[Install]
WantedBy=multi-user.target
